@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$Very-Dark-Gray: hsl(0, 0%, 17%);
$Dark-Gray: hsl(0, 0%, 59%);


body {
    width: 100vw;
    height: 100vh;
    background: gray;
    font-family: 'Rubik', sans-serif;
}

.blue_bg {
    width: 100%;
    height: 35%;
    background: url("../images/pattern-bg.png") no-repeat 100%/cover;
    position: relative;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-heading {
        font-size: 2.5em;
        color: #fff;
        text-align: center;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .details {
        width: 70%;
        height: 180px;
        padding: 30px;
        border-radius: 20px;
        background: #fff;
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        .detail {
            width: 24%;
            padding: 0 15px;
            position: relative;
            .detail_heading {
                text-transform: uppercase;
                font-size: 1em;
                color: $Dark-Gray;
                letter-spacing: 1px;
            }
            .detail_info {
                font-size: 1.2em;
                font-weight: 700;
                color: $Very-Dark-Gray;
                margin-top: 15px;
            }

            &:not(:last-child)::after {
                content: "";
                width: 1.5px;
                height: 75%;
                background: $Dark-Gray;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                opacity: .7;
            }
        }
    }

    .seach_form {
        display: flex;
        justify-content: center;
        align-items: center;
        .search_ip {
            width: 600px;
            padding: 15px 30px;
            background: #fff;
            border: 1px solid $Very-Dark-Gray;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            font-size: 1rem;
            &:focus {
                outline: none;
            }
        }
    
        .seach_btn {
            width: 50px;
            height: 50px;
            background: $Very-Dark-Gray;
            border: 1px solid $Very-Dark-Gray;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            cursor: pointer;
        }
        
    }
}

.map {
    width: 100%;
    height: calc(100% - 35%);
    background: cyan;
    position: relative;
    
    .map_area {
        width: 100%;
        height: 100%;
        background: brown;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 90;
    }
    .attribution {
        width: 100%;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 100;
        font-size: 18px;
        text-align: center;
        color: $Very-Dark-Gray;
        padding: 15px;
    }
}

@media (min-width: 319px) and (max-width: 480px) {
    .blue_bg {
        width: 100%;
        height: 25%;
        padding: 20px 10px;

        .main-heading {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .seach_form {
            width: 95%;
            .search_ip {
                width: 80%;
            }
        }

        .details {
            width: 70%;
            height: 340px;
            padding: 10px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
            .detail {
                width: 100%;
                .detail_info {
                    margin-top: 5px;
                }
                &:not(:last-child)::after {
                    display: none;
                }
            }
        }
    }

    .map {
        width: 100%;
        height: calc(100% - 25%);

        .attribution {
            font-size: 10px;
        }
    }
    
}

@media (min-width: 481px) and (max-width: 768px) {
    .blue_bg {
        width: 100%;
        height: 25%;
        padding: 20px 10px;

        .main-heading {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .seach_form {
            width: 95%;
            .search_ip {
                width: 80%;
            }
        }

        .details {
            width: 70%;
            height: 300px;
            padding: 20px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
            .detail {
                width: 100%;
                .detail_info {
                    margin-top: 5px;
                }
                &:not(:last-child)::after {
                    display: none;
                }
            }
        }
    }

    .map {
        width: 100%;
        height: calc(100% - 25%);
    }
}